.templatemo-bg-gray {
    background-color: #eee;
    height: 100%;
}


.container {
    width: 1170px;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-md-12 {
    width: 100%;
}

.templatemo-bg-gray h1 {
    color: rgb(74, 164, 180);
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: normal;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.templatemo-login-form-1 {
    max-width: 500px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.templatemo-container {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #dedede;
    border-radius: 8px;
    margin: 0 auto;
    padding: 30px;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.col-xs-12 {
    width: 100%;
}

.control-wrapper {
    position: relative;
    padding-left: 30px;
}

.control-wrapper label.fa-label {
    position: absolute;
    left: -6px;
    top: -5px;
}

.form-horizontal .control-label {
    margin-bottom: 10px;
}

.form-horizontal .control-label {
    padding-top: 0;
}


.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.fa-medium {
    font-size: 20px;
}

.fa {
    font-size: 16px;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-horizontal {
	.form-group {
	    margin-right: -15px;
	    margin-left: -15px;
	}
}

.form-group {
    margin-bottom: 20px;
}

.templatemo-create-new {
    color: #58B4BB;
    font-size: 18px;
    font-weight: 300;
}

.templatemo-create-new:hover {
    color: #138892;
    text-decoration: none;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}